Flask==2.1.2
numpy==1.23.0
scipy==1.8.1
scikit-learn==1.1.1
matplotlib==3.5.2
pandas==1.4.3
jsonpickle==2.2.0
setuptools==41.2.0
gunicorn==20.0.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
Werkzeug==2.1.2
nltk==3.7
tensorflow==2.9.1
keras==2.9.0
