<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
         
      <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/Home"><img src="/static/Movie-Adda-3.png" alt="Movie Adda"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" ></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="/Home">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </nav>

      </section>

      <section class="main-container"> 
        <div class="about-section">
          <div class="inner-container">
              <h1>About Us</h1>
              <p class="text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt culpa ducimus aspernatur cupiditate quia quidem eum corrupti cumque perferendis harum! Aliquid, delectus ad? Voluptatem nam impedit dolorum mollitia perferendis ipsa. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, consectetur? Maxime cupiditate accusantium saepe perspiciatis quaerat totam dignissimos alias incidunt, beatae animi. Sit libero nulla explicabo eaque molestiae maxime eveniet?
              </p>
              <div class="skills">
                <span>Skills:</span>
                <span>Web Development</span>
                <span>Machine Learning</span>
                <span>Coding</span>
              </div>
          </div>
        </div>
      </section>  

  </body>
  
  <footer class="footer">
    <div class="social-menu">
       <ul>
          <div class="contact">
           <p class='footer-description'>© 2020 Copyright:  Gautam Choudhary.</p>
          </div>
          <div class="social-list">
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-instagram"></i></a></li>
             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="#"><i class="fa fa-github"></i></a></li>
          </div>   
       </ul>
    </div>    
 </footer>


</html>